:host {
    position: relative;
    display: flex;
    flex-direction: column;
    background: var(--background);

    ion-card {
        --border-radius: var(--mdl-shape-borderRadius-sm);
    }

    ::ng-deep ion-item-divider {
        min-height: var(--item-divider-min-height);
    }

    ::ng-deep core-loading {
        --loading-inline-min-height: 60px;
    }
}

/* -------- SYNCOLOGY: Horizontal Scroll Styles ------- */
.scroll-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    /* Optional: Add a scrollbar for visibility */
    scrollbar-width: thin;
}

/* Styling for the content inside the scrolling container */
.scroll-content {
    display: inline-block;
    /* Optional: Add some padding around the content */
    padding: 10px;
}

/* Styling for each item inside the horizontal scrolling div */
.item {
    display: inline-block;
    /* Optional: Add some spacing between items */
    width: 70%;
}
/* ------------- SYNCOLOGY: end ------------ */
