<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUQFk36QVYyHav3CJ1sy1C3WZqRup1024</string>
	<key>GCM_SENDER_ID</key>
	<string>503567208790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.royal.edusync</string>
	<key>PROJECT_ID</key>
	<string>tanta-royal-school</string>
	<key>STORAGE_BUCKET</key>
	<string>tanta-royal-school.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503567208790:ios:92b0ec5eac1327521b86f7</string>
</dict>
</plist>
