<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458963196805-crmpdvenbvjj4hcfngdjf2j13q7vnja2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458963196805-crmpdvenbvjj4hcfngdjf2j13q7vnja2</string>
	<key>API_KEY</key>
	<string>AIzaSyBTzPS9qzSzlZwn20tfiyuMOD5fbgXwuMU</string>
	<key>GCM_SENDER_ID</key>
	<string>458963196805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tms.edusync</string>
	<key>PROJECT_ID</key>
	<string>tanta-modern-school</string>
	<key>STORAGE_BUCKET</key>
	<string>tanta-modern-school.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458963196805:ios:ba10e27b3a2b34ec0582ec</string>
	<key>DATABASE_URL</key>
	<string>https://tanta-modern-school.firebaseio.com</string>
</dict>
</plist>
